# Dependency directories
node_modules/

# Build outputs
dist/

# Environment variables
.env
.env.local

# Logs
logs/
*.log
npm-debug.log*

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
